.material-icons {

}

#left {
    width: 20%;
    height: 100%;
    top: 50em;
    position: fixed;
    background: #BF1800;
}

#right {
    width: 80%;
    height: auto;
    outline: 1px solid;
    position: absolute;
    right: 0;
    background: blue;
}


* {
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

body {
  background-color: #BF1800;
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 2.1;
  font-variant: normal;
}

.header-title {
  margin-top: .5em ;
  padding: 10px 0px 0px 0px;
  border-top: 5px solid black;

}

.img-responsive {
  width: 100%;
}
.selection-border {
  border-style: double;
  border-width: 0px 2px 0px 2px;
  border-color: black;
}

.links {
  border-bottom: 5px solid black;
}

.no-bullet {
  list-style: none;
}
.links-list {
	list-style: none;
	text-align: center;
}

.menu-select-set {
  margin-top: 10em;

  margin-bottom:10em;

}

@media (max-width: 767px) {
  #navigation{
    position: fixed;
  }
}

.intro_p {
  margin-bottom: 10%;
}

.center-intro-quote{
  text-align: center;
}

.intro-blurb{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: .9em;
}
